<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css"></link>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"></link>
  <link rel="stylesheet" type="text/css" href="stylesheets/iThing.css"></link>
  <link rel="stylesheet" type="text/css" href="stylesheets/jquery.dynatable.css"></link>
  <link rel="stylesheet" type="text/css" href="stylesheets/unsemantic-grid.css"></link>
</head>
<body>
  <div id="wrapper">
    {{{body}}}
    {{> content}}
  </div>
  <footer class="grid-100 mobile-grid-100">
    <p>Built with love by <a href="http://stelle.me/">Adam Stelle</a> - {{currentYear}} </p>
  </footer>
  <script src="js/jquery-3.0.0.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/jQAllRangeSliders-min.js"></script>
  <script src="js/jquery.dynatable.js"></script>
  <script src="js/moment.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
