<main id="fire">
  <div class="selectDates grid-100">
    <h3>Choose a date range using the slider, then click submit</h3>
    <p>This widget takes the date range provided and returns a table of all Seattle fire departmnent emergency response requests.</p>
    <div id="slider"></div><br/>
    <button type="button" id ="datesubmit" class = "btn btn-primary">Submit</button>
  </div>
  <div id="results">
    <div id="total"></div><br>
    <div id="place1" class="grid-35 suffix-10"><span class="resultTitle"></span><br><span class="percent"></span><br><span class="totals"></span></div>
    <div class="grid-55">
      <div id="place2" class="resultBlock grid-50"><span class="resultTitle"></span><br><span class="percent"></span><br><span class="totals"></span></div>
      <div id="place3" class="resultBlock grid-50"><span class="resultTitle"></span><br><span class="percent"></span><br><span class="totals"></span></div>
      <div id="place4" class="resultBlock grid-50"><span class="resultTitle"></span><br><span class="percent"></span><br><span class="totals"></span></div>
      <div id="place5" class="resultBlock grid-50"><span class="resultTitle"></span><br><span class="percent"></span><br><span class="totals"></span></div>
    </div>
  </div>
  <button type ="button" id ="seeDataButton" class = "btn btn-primary">View Data</button>
  <button type ="button" id ="downloadButton" class = "btn btn-primary">Download CSV</button>
  <div class= "tableContainer">
    <table id="my-final-table" class="table table-bordered">
      <thead>
        <th data-dynatable-column="type">Type of Incident</th>
        <th data-dynatable-column="address">Location</th>
        <th data-dynatable-column="datetime">Time & Date</th>
        <th data-dynatable-column="incident_number">Incident Number</th>
        <th data-dynatable-column="latitude">Latitude</th>
        <th data-dynatable-column="longitude">Longitude</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</main>
