<main id="police">
  <div class= "tableContainer">
    <table id="my-final-table" class="table table-bordered">
      <thead>
        <th data-dynatable-column="event_clearance_subgroup">Type of Incident</th>
        <th data-dynatable-column="hundred_block_location">Location</th>
        <th data-dynatable-column="event_clearance_date">Time & Date</th>
        <th data-dynatable-column="latitude">Latitude</th>
        <th data-dynatable-column="longitude">Longitude</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</main>
