#wrapper {
  padding: 2rem;
}

body {
  background-color: #d3d3d3;
}

#results {
  width: 100%;
  border-top: 1px solid #eee;
  margin-top: 2rem;
  padding-top: 1rem;
  line-height: 1;
}

.h1 {
  color: #4A677F;
}
.percentSign {
  font-size: 4rem;
  font-weight: bold;
}

.title {
  font-size: 4rem;
  font-weight: bolder;
}

.resultTitle {
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.resultBlock {
  margin-bottom: 3rem;
}

.tableContainer {
  margin-top: 2rem;
}

.percent {
  color: #337ab7;
  font-size: 8rem;
  font-weight: bold;
}

#first {
  padding-left: 0;
}

#first .percent {
  font-size: 14rem;
}

#first .percentSign {
  font-size: 7rem;
}

#totalpercent {
  font-size: 2rem;
}

#first .resultTitle {
  font-size: 3rem;
}
